---
import type { Page, SEO, Store } from "../markket/index.d";
import { markketplace } from "../config";
import Footer from "../components/layout.footer";
import Posthog from "../components/posthog.astro";

import "../styles/global.css";

export interface Props {
  redirect?: string;
  page?: Page;
  store?: Store;
  SEO?: SEO;
}

const { redirect = "", store, page, SEO } = Astro.props;
const { language, textDirection } = { language: "en", textDirection: "ltr" };

const icon = {
  url: store?.Favicon?.url || markketplace.styles.favicon,
  type: "image/png",
};
---

<!doctype html>
<html lang="en" lang={language} dir={textDirection}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type={icon.type} href={icon.url} />
    <meta name="generator" content={Astro.generator} />
    <title>{store?.title || page?.Title}</title>
    {redirect && <meta http-equiv="refresh" content={`0;url=${redirect}`} />}
    <meta name"description" content={page?.SEO?.metaDescription} />
    <meta
      property="og:image"
      content={SEO?.socialImage?.url ||
        page?.SEO?.socialImage?.url ||
        store?.SEO?.socialImage?.url}
    />
    <meta
      property="og:description"
      content={SEO?.metaDescription ||
        page?.SEO?.metaDescription ||
        store?.SEO?.metaDescription}
    />
    <meta
      property="og:title"
      content={SEO?.metaTitle ||
        page?.SEO?.metaTitle ||
        store?.SEO?.metaDescription}
    />
    <meta property="og:type" content="website" />
    <meta
      property="”og:site_name”"
      content={store?.SEO?.metaTitle || store?.title}
    />
  </head>
  <Posthog />
  <body>
    <slot />
    <Footer store={store} page={page} />
  </body>
  <style>
    html,
    body {
      margin: 0;
      width: 100%;
      height: 100%;
    }
  </style>


</html>
